
/*Global Reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.bg {
  min-height: 100vh;
  min-width: 100vw;
}


/*.btn{
  background-color: #C5261B;
}*/



/*NavBar Section*/

#banner{
  color: white;
  background-color:#D20F1C ; /*Red*/
/*  border-bottom: 1px solid #AFACAF;*/
  padding-top: 2px;
}


.navbar {
  background-color: #151415;/*Night*/
}

.nav-item{
  margin-right: 3rem;
}


/*Home-Banner*/

.row .col {
  padding:0 4px;
  height: 100%;
}

.row .col img{
  margin-top:2%;
  width: 100%;
  height: 100%;
  cursor: pointer;
/*  filter: grayscale(0.3) brightness(0.5);*/
  border-radius: 5px;
  transition: 0.3s linear;
}

/*.row .col img:hover{
  filter: grayscale(0) brightness(1);

}*/


/*ProductCard*/
.card-container{
  height: 20vh;
  width: 20vw;


}

.card-image-catalog{
  height: 30vh;
  width: 15vw;
}

.card-image-view{
  height: 40vh;
  width: 10vw;
}



/*Login*/

.form-logo{
  max-height: 8rem;
  max-width: 8rem;
  padding: 0;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.label{
  color: white;
}


/*Buttons*/
.edit-icon, .disable-icon, .enable-icon, .add-icon{
  max-height: 20px;
  max-width: 20px;
}

 .sub-icon{
  max-height: 40px;
  max-width: 37px;
}


/*Table*/
table {
  background-color: white;
  border: 3px solid ;
  width: 800px;
  height: 200px;
  }


th {
  border-bottom: 1px solid black;
}
